<%- include("../partials/header"); -%>

<div class='container-fluid'>
	<h1>
	Sharing is Caring
    </h1>
    <form action='/pages/new' method='POST' class='form-group'>
        <div class='form-group' style="margin:25px auto; width 30%;">
            <input type='form-control' name='title' placeholder='title' class='form-control'>
        </div>
        <div class='form-groupl'>
            <input type='form-control' name='image' placeholder='image url' class='form-control'>
        </div>
        <div class='form-group'style="margin:25px auto; ">
            <textarea type='form-control' rows='25' name='text' placeholder='Your Canvas your ideas. What are you waiting for?' class='form-control'></textarea>
        </div>
        <button type='submit'class="btn btn-danger " >
            Submit
        </button>
    </form>
    <br><br><br>
    <a href='/index'class="btn btn-primary btn-lg active right" role="button">GO BACK</a>
</div>

<%- include("../partials/footer"); -%>